/*
 * Jacob Cannamela
 * CSD420
 * 4/25/2025
 * Stylesheet for JavaFX Module 7 Assignment
 */

.plaincircle {
    -fx-fill: white;
    -fx-stroke: black;
}

#redcircle {
    -fx-fill: red;
    -fx-stroke: red;
}

#greencircle {
    -fx-fill: green;
    -fx-stroke: green;
}

.border {
    -fx-border-color: black;
    -fx-border-width: 5;
}
